.extra-network-cards {	
	--card-width: 6.5em;
	--card-ar: 3/2;
	--card-height: calc(var(--card-width) * var(--card-ar));
	--card-font-size: 1em;
	
	--font-size: 0.75em;
	--font-size-desc: 0.6em;
	--line-height: 1em;
	--line-height-desc: 0.8em;
	
	--zoom-scale: 2;
	--zoom-font-size: 0.8em;
	--zoom-line-height: 1.25em;

	overflow-y: auto;	
	font-size: var(--card-font-size);
	padding-left: calc(var(--card-width) / 2 + 5px);
	padding-right: calc(var(--card-width) / 2);
	padding-top: calc(var(--card-height) * 0.1);
	padding-bottom: calc(var(--card-height) * var(--zoom-scale) - var(--card-height));
}

.extra-network-cards .card {
	width: var(--card-width);
	height: var(--card-height);
	margin-bottom: 0;
	transform-origin: 50% calc(var(--card-height) * 0.1);
	transition: transform 0.2s, transform-origin 0.2s;
}

.extra-network-cards .card .actions .name {
	font-size: var(--font-size);
	line-height: var(--line-height);
}

.extra-network-cards .card .actions .description {
	font-size: var(--font-size-desc);
	line-height: var(--line-height-desc);
}

.extra-network-cards .card:hover {
	transform: scale(var(--zoom-scale));	
	z-index: 20;
}

.extra-network-cards .card:hover .actions {	
	font-size: calc(1em/var(--zoom-scale));
}

.extra-network-cards .card:hover .actions .name {	
	font-size: var(--zoom-font-size);
	line-height: var(--zoom-line-height);
	display: block;
}

.extra-network-cards .card:hover .description {	
	font-size: var(--zoom-font-size);
	line-height: var(--zoom-line-height);
	display: block;
}

.extra-network-cards .card .description:hover
{
	max-height: calc(var(--card-height) * var(--zoom-scale)) !important;
    overflow-y: auto;
    scrollbar-width: none;
}

.extra-network-cards .card .card-button {
	padding: 0.2em;
    font-size: 1rem;
	line-height: var(--zoom-line-height);
}

.extra-network-cards .card .actions .additional .card-button {
	padding: 0.2em;
    font-size: 0.7rem;
	line-height: var(--zoom-line-height);
}

.extra-network-pane .card, .standalone-card-preview.card{
    background-image: url('/file=html/card-no-preview.png');
}

.extra-network-dirs {
	--dirs-sm-width: 3.5em;
	--dirs-lg-width: 250px;

	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 10;   
    background-color: var(--body-background-fill);
    width: var(--dirs-sm-width);
	padding: 10px 2px 10px 2px;
	border: 1px solid var(--block-border-color);	
    scrollbar-width: none;
	transition: all 0.25s;
}

.extra-network-dirs:hover {
	width: var(--dirs-lg-width);
	padding: 10px;
    scrollbar-width: thin;
}

.extra-network-dirs button.custom-button {	
	padding: 7px 2px;
	overflow: hidden;
	display: block;
	text-align: left;
	font-size: 0.9em;
	transition: all 0.25s allow-discrete;
}

.extra-network-dirs:hover > button.custom-button  {
	word-wrap: break-word;
	text-wrap: wrap;
	padding: 5px 10px;
	font-size: 1.1em;
}

.extra-network-dirs > button.custom-button:hover  {
	box-shadow: inset 3px -7px 0.5em 1px rgb(0 0 0 / 40%);
	border-right: 2px solid rgb(212, 207, 207);
}



